body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.block-question {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    margin-top: 3%;
    padding: 0%;
    border-radius: 10px;
}

.button-delete-question {
    margin: 0%
    padding: 0.5%;
    background-color: #20B2AA;
    border-top-right-radius: 10px;
    border: 1px solid;
}

.div-delete-question {
    position: relative;
    float: right;
}

.question-text {
    width: 90%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.div-answer {
    position: relative;
    overflow: hidden;
}

.answer-text {
    width: 80%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.add-answer-button {
    float: right;
}

.div-add-answer {
    position: relative;
    overflow: hidden;
    right: 5%;
    padding-bottom: 3%;
}

.button-add-question {
    background-color: #20B2AA;
    padding: 0.5%;
    width: 20%;
    border-radius: 10px;
    float: left;
}

.div-add-question {
    position: relative;
    width: 50%;
    padding: 1%;
}

.save {
    position: relative;
    padding: 2%;
}

.survey_name_block {
    position: relative;
    background-color: #FFFFFF;
    width: 30%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 10px;
}

.survey-text {
    width: 90%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}

.level-survey {
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
    width: 30%;
    padding: 1%;
    margin: 2%;
    margin-bottom: 0%;
}

.button-save {
    background-color: #20B2AA;
    padding: 0.5%;
    width: 20%;
    border-radius: 10px;
}

.link {
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
    width: 50%;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2%;
    float: right;
}

.survey_topic {
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
    width: 28%;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2%;
    float: left;
}

.level {
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
    width: 9%;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2%;
    float: left;
}