<!DOCTYPE html>

{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>Онлайн помощник</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_Aut.css' %}">
</head>

<body>
    <div class="login-form">
		<center>
			<h1><font face = "corbel"> ACCOUNT LOGIN</font></h1>
			<form name="log" action="{% url 'verification' %}" method="POST"  id="">
				{% csrf_token %}
				<font face = "corbel">USERNAME:</font> <br />
				<input  class="inputs" type="text" name="login" size="20" maxlength="32" value="" /> <br/>
				<font face = "corbel">PASSWORD:</font> <br />
				<input  class="inputs" type="password" name="password" size="20" maxlength="32" value="" /> <br/>
				<input type="submit" name="enter" value="LOGIN" />
			</form>
    	</center>
	</div>

	{% if status %}
	<div class="uncorrected">
		<center>
			<font face = "corbel">Неверный логин или пароль</font>
		</center>
	</div>
	{% endif %}
</body>
</html>