body {
	background-image: url('bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.block {
	background: #ffffff;
	padding: 2%;
	padding-right: 15px;
	border: solid 1px black;
	border-radius: 10px;
	left: 30%;
	width: 37%;
	height: 25%;
	margin: 40px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

.button {
	top: 10%;
	width: 40%;
	height: 30%;
	font-size: 14px;
	font-weight: normal;
	border-radius: 10px;
	background: #20B2AA;
	padding: 0.5%;
	position: relative;
	left: 0.5%;
	font-family: Segoe UI;
}

.inputs {
   	border-radius: 5px;
	border: solid 1px gray;
	width: 50%;
	padding: 1%;
	float: left;
	position: relative;
}

.photo {
	margin-left: 18%;
	top: 4.3%;
	width: 10%;
	height: 20%;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	border: solid 1px black;
	background: #EFEFEF;
	float: center;
}

.photo-button {
	margin-left: 18%;
	top: 4.3%;
	width: 10%;
	height: 20%;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	background: #EFEFEF;
	border: solid 1px black;
	float: center;
}


.percent-ipr {
	border: solid 0px;
    margin-left: 34%;
    padding: 1%;
    position: absolute;
    width: 5%;
    background: #FFFFFF;
}

.ipr_div {
    margin: 5%;
    padding-bottom: 1%;
}

.user-info-topic {
    text-align: right;
    width: 46%;
    float: left;
    margin-right: 5%;
}

.user-info {
    text-align: left;
}

.label-topic {
    font-size: 20px;
	font-weight: normal;
}

.topic-div {
    padding-bottom: 2%;
    width: 98%;
}

.p-div {
    width: 30%;
    border: solid 1px gray;
    border-radius: 5px;
    float: right;
    margin-right: 10%;
    position: relative;
}

.survey {
    text-align: left;
    border-radius: 10px;
    padding: 1%;
    font-size: 14pt;
    border: 1px solid lightgray;
    left: 0%;
    width: 80%;
    margin-top: 3%;
}