<!DOCTYPE html>
<html>

{% load static %}

<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="{% static 'css/style_PA.css' %}"/>

{% if user_type == "employee" %}
	<title>Личный кабинет сотрудника</title>
{% endif %}
{% if user_type == "manager" %}
	<title>Личный кабинет руководителя</title>
{% endif %}
{% if user_type == "admin" %}
	<title>Личный кабинет администратора</title>
{% endif %}

<head>

</head>

<body>
	<meta charset="UTF-8">

	<div>
		<div>
			{% if user.link_to_photo %}
				<input class="photo" type="image" src="{{user.link_to_photo}}" alt="" formenctype="multipart/form-data"/>
			{% else %}
				<input class="photo" type="image" src="{% static 'image/user.png' %}" alt="" formenctype="multipart/form-data"/>
			{% endif %}
		</div>

		<div class="block">
			<div class="topic-div">
				<center>
					<span class="label-topic"><font face="Segoe UI">Информация о пользователе</font></span>
				</center>
			</div>

			<div class="user-info-topic">
				<p><label><font face="Segoe UI">Фамилия:</font></label></p>
				<p><label><font face="Segoe UI">Имя:</font></label></p>
				<p><label><font face="Segoe UI">Отчество:</font></label></p>
				<p><label><font face="Segoe UI">Дата рождения:</font></label></p>
				<p><label><font face="Segoe UI">Пол:</font></label></p>
				<p><label><font face="Segoe UI">Должность:</font></label></p>
			</div>

			<div class="user-info">
				<p><label><font face="Segoe UI">{{ user.firstname }}</font></label></p>
				<p><label><font face="Segoe UI">{{ user.lastname }}</font></label></p>
				<p><label><font face="Segoe UI">{{ user.patronymic }}</font></label></p>
				<p><label><font face="Segoe UI">{{ user.dateOfBirth }}</font></label></p>
				<p><label><font face="Segoe UI">{{ user.gender }}</font></label></p>
				<p><label><font face="Segoe UI">{{ user.position }}</font></label></p>
			</div>
		</div>
	</div>

	{% if user_type == "employee" %}
		<div>
			<center>
				<form name="Surveys" action="{% url 'list_of_Surveys' %}" method="POST">
					{% csrf_token %}
					<p><input class="button" type="submit" value="Пройти квалификационный опрос" name="enter"/></p>
					<input type="hidden" name="id" value="{{ user.aut.id }}">
					<input type="hidden" name="level" value="{{ user.level }}">
				</form>
			</center>
		</div>

		{% if user_ipr %}
			<div class="block">
				<center>
					<h2><font face = "corbel">Индивидуальные программы развития</font></h2>
				</center>
				{% for key, value in user_ipr.items %}
					<div class="ipr_div">
						<form name="ИПР" action="{% url 'ipr' %}" method="POST" onclick="">
							{% csrf_token %}
							<input class="inputs" type="submit" value="{{ key }}">
							<div class="p-div">
								<div style="width: {{value}}%; padding-bottom: 14%; background: #20B2AA; margin: 0%;"></div>
							</div>
							<input class="percent-ipr" placeholder="{{value}} %" disabled>
							<input type="hidden" name="id" value="{{ user.aut.id }}">
							<input type="hidden" name="data_key" value="{{ key }}">
							<input type="hidden" name="data_value" value="{{ value }}">
						</form>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="block">
				<center>
					<h4><font face = "Segoe UI">Пройдите опрос, чтобы сформировать индивидуальную программу развития</font></h4>
				</center>
			</div>
		{% endif %}
	{% endif %}

	{% if user_type == "manager" %}
		<div class="block">
			<center>
				<h2><font face = "corbel"> Список всех ИПР сотрудников с их прогрессами:</font></h2>
			</center>
			{% for el, status in data_of_employees.items %}
			<form name="СИПР" action="{% url 'personal_task' %}" method="POST">
				{% csrf_token %}
				{% if status %}
				<input class="survey" value="{{ el.firstname }} {{ el.lastname }} - {{ el.position }}" type="submit" name="{{el.id}}">
				<input type="hidden" name="employee" value="{{el.aut_id}}">
				{% else %}
				<input class="survey" value="{{ el.firstname }} {{ el.lastname }} - {{ el.position }}" type="submit" name="{{el.id}}" disabled>
				<input type="hidden" name="employee" value="{{el.aut_id}}">
				{% endif %}
			</form>
			{% endfor %}
		</div>
	{% endif %}

	{% if user_type == "manager" or user_type == "admin" %}
		<div class="block">
			<center>
				<h2><font face = "corbel"> Список всех опросов:</font></h2>
			</center>
			{% for el in all_surveys %}
				<form action="{% url 'editor_of_survey' %}">
					<input class="survey" value="{{ el.survey_topic }}" type="submit">
					<input type="hidden" value="{{ el.id }}" name="id_Survey">
					<input type="hidden" value="{{user.aut.id}}" name="user_id">
				</form>
			{% endfor %}

			<form action="{% url 'editor_of_survey' %}">
				<p><input class="button" type="submit" value="Создать опрос" name="enter"/></p>
				<input type="hidden" value="{{user.aut.id}}" name="user_id">
			</form>
		</div>
	{% endif %}
</body>
</html>